name: discord-notify

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'The repository **{{ EVENT_PAYLOAD.repository.full_name }}** has been updated.\nCommit:{{ EVENT_PAYLOAD.repository.commit_comment }}'
